<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="section">
  <div class="container">
    <h1>Sekcia 1</h1>

    <div class="row">
      <div class="col-md-4 section--box">
        <div class="row">
          <div class="col-md-4">
            <div class="section--box--icon">
              <i class="fa fa-magic"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h3>Branding</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 section--box">
        <div class="row">
          <div class="col-md-4">
            <div class="section--box--icon">
              <i class="fa fa-cog"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h3>Web design</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 section--box">
        <div class="row">
          <div class="col-md-4">
            <div class="section--box--icon">
              <i class="fa fa-twitter"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h3>Social media</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section 2 -->
<div class="section-gray">
  <div class="container">
    <div class="row">
      <div class="col section--description">Sekcia 2</div>
    </div>
    <div class="row">
      <div class="col section--box">
        <h3>Section 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam,
          quis nostrud.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam,
          quis nostrud. Exerci tation ullamcorper suscipit
          <a href="#">lobortis nisl</a> ut aliquip ex ea commodo consequat. Ut
          wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam,
          quis nostrud. Exerci tation ullamcorper suscipit lobortis nisl ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
